<div class="container-fluid navbar-light" style="background-color: #0493e4;">
  <div class="row">
    <div class="col-12">

      <nav class="navbar">
      <a a href="/" class="navbar-brand"><img class="logo" src="{{ base_path ~ directory }}/logo.png" alt="Inicio" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
          <li><a href="/">Inicio</a></li>
          <li><a href="{{ url('<front>') }}nosotros">Nosotros</a></li>
          <li><a href="{{ url('<front>') }}servicios">Servicios</a></li>
          <li><a href="{{ url('<front>') }}contacto">Contáctenos</a></li>
        </ul>
      </div>
      </nav>
    </div>
  </div>
</div>

<header class="main-header">

  <!-- Start: Banner -->
    {% if page.banner %}
      <div class="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ page.banner }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  <!-- End: Banner -->

  <!--- Start Messages -->
    {% if page.messages %}
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ page.messages }}
            </div>
          </div>
      </div>
    {% endif %}
  <!---End Messages -->


</header>

  <!-- start container -->
  <div class="container content">
    <div class="row">

      <!--- Start Left SideBar -->
      {% if page.sidebar_first %}
          <div class = {{sidebarfirst}} >
            {{ page.sidebar_first }}
          </div>
      {% endif %}
      <!---End Right SideBar -->

      <!--- Start content -->
      {% if page.content %}
          <div class={{contentlayout}}>
            {{ page.content }}
          </div>
      {% endif %}
      <!---End content -->

      <!--- Start Right SideBar -->
      {% if page.sidebar_second %}
          <div class={{sidebarsecond}}>
            {{ page.sidebar_second }}
          </div>
      {% endif %}
      <!---End Right SideBar -->

  </div>      
</div>
    <!--end container -->

  <div class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          Raiblocks © Copyright {{ 'now'|date('Y') }}. All Rights Reserved
        </div>
      </div>
    </div>
  </div>